# Ignore Git files and directories
.git*
.gitattributes

# Ignore virtual environment directories
.venv*
ENV/
env/

# Ignore Python output and cache directories
__pycache__*
*.py[cod]

# Ignore IDE specific files
.vscode*
.idea*

# Ignore runtime and temporary files
*.log
*.tmp
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.whl

# Ignore test files
.env
